<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="utaeats.uta.mav.utaeats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddItemSeller"></activity>
        <activity android:name=".HomeDrawerB" />
        <activity android:name=".LoginUser" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".Settings" />
        <activity android:name=".HomeDrawerSeller" />
        <activity android:name=".FoodActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="utaeats.uta.mav.utaeats.MainActivity" />
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="utaeats.uta.mav.utaeats.CartActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="utaeats.uta.mav.utaeats.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="utaeats.uta.mav.utaeats.MainActivity" />
        </activity>
        <activity
            android:name=".InvoiceActivity"
            android:label="@string/title_activity_invoice" />
    </application>

</manifest>